<%= link_to "Back to my boards", boards_path %>
<h1><%= @board.name %></h1>

<% if @board.lists.any? %>
  <%= link_to "Create new list", new_board_list_path(@board) %>
<% else %>
  <%= link_to "Create your first list", new_board_list_path(@board) %>
<% end %>

<% if @board.lists.any? %>
<div class="lists-grid">
  <% @board.lists.each do |list| %>
    <div class="list">
      <div class="list-title mt-2">
        <p><%= list.name %></p>
      </div>
      <div class="list-controls">
        <%= link_to "Edit", edit_list_path(list), class: "btn btn-primary" %>
        <%= link_to "Delete", list_path(list) , method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
<% else %>
  <p>No lists yet!</p>
<% end %>
